h2 {
    margin: 0;
}

.user-detail-header {
    background-color:  rgb(238, 156, 94) ;
    min-height: 250px;
    display: flex;
    justify-content: flex-end;

    img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
    }
}

.user-detail-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-button {
    position: absolute;
    right: 0;
    top: 0;
}
