<mat-card class="user-detail-header">
    <mat-card-content class="user-detail-content">
    <img src="assets/img/user.png" alt="">
    <div>
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <span>{{ user.email }}</span>
    </div>
    </mat-card-content>
</mat-card>


<mat-card>
  <button mat-icon-button class="edit-button" (click)="openAdressDialog()">
    <mat-icon>more_vert</mat-icon>
  </button>
       <mat-card-header class="mt-16">
              <mat-card-title>
                <h2>Adress</h2>
              </mat-card-title>
       </mat-card-header>
       <mat-card-content>
        {{ user.street }}<br>
        {{ user.zipCode }} {{ user.city }}<br>
       </mat-card-content>
</mat-card>
