<mat-card>
  <mat-card-content>
    <table class="user-table">

      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>

      <tr>
        <td>asd</td>
        <td>asfd</td>
        <td>asf</td>
      </tr>

      <tr>
        <td>asd</td>
        <td>asfd</td>
        <td>asf</td>
      </tr>


    </table>
  </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add user"
  [matTooltipPosition]="'above'">
  <mat-icon>add</mat-icon>
</button>